<nav class="navbar navbar-default navbar-static-top" role="navigation"
     style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="/img/logo_256.png" alt="logo" class="logo"/>
            MarrocCL
        </a>
    </div>
    <!-- /.navbar-header -->
    <top-nav></top-nav>
    <!-- /.navbar-top-links -->
    <side-nav></side-nav>
    <!-- /.navbar-static-side -->
</nav>